/**********************************************
*** GENERAL
**********************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(back.jpg);
  background-size: cover;
  background-position: center;
  font-family: Lato;
  font-weight: 300;
  position: relative;
  height: 100vh;
  color: #555;
}

.wrapper {
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}

.player-0-panel,
.player-1-panel {
  width: 50%;
  float: left;
  height: 600px;
  padding: 100px;
}



/**********************************************
*** PLAYERS
**********************************************/

.player-name {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
}

.player-score {
  text-align: center;
  font-size: 80px;
  font-weight: 100;
  color: #eb4d4d;
  margin-bottom: 130px;
}

.active {
  background-color: #f7f7f7;
}

.active .player-name {
  font-weight: 300;
}

.active .player-name::after {
  content: "\2022";
  font-size: 47px;
  position: absolute;
  color: #eb4d4d;
  top: -7px;
  right: 10px;
}

.player-current-box {
  background-color: #eb4d4d;
  color: #fff;
  width: 40%;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
}

.player-current-label {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 12px;
  color: #222;
}

.player-current-score {
  font-size: 30px;
}

button {
  position: absolute;
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
  color: #555;
  background: none;
  border: none;
  font-family: Lato;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 300;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  font-weight: 600;
}

button:hover i {
  margin-right: 20px;
}

button:focus {
  outline: none;
}

i {
  color: #eb4d4d;
  display: inline-block;
  margin-right: 15px;
  font-size: 32px;
  line-height: 1;
  vertical-align: text-top;
  margin-top: -4px;
  transition: margin 0.3s;
}

.btn-new {
  top: 45px;
}

.btn-roll {
  top: 403px;
}

.btn-hold {
  top: 467px;
}

.dices {
  position: absolute;
  left: 50%;
  top: 178px;
  transform: translateX(-50%);
  width: 200px;
  height: 100px;
  border: 1px solid #eb4d4d;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
  font-size: 0;
}

.dice {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.dice + .dice {
  margin-left: 2px;
}

.winner {
  background-color: #f7f7f7;
}

.winner .player-name {
  font-weight: 300;
  color: #eb4d4d;
}

.winning-score {
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  background: white;
  border-radius: 10px;
  z-index: 100;
}

.winning-score input[type="text"] {
  display: inline-block;
  margin-left: 5px;
  height: 30px;
  font-size: 16px;
  padding: 0 15px;
  border: 0;
  outline: none;
  border: 1px solid #eb4d4d;
  border-radius: 0 7px 7px 0;
}

.winning-score input[type="text"]::-webkit-input-placeholder {
  opacity: 0.5;
}

.winning-score input[type="text"]:focus::-webkit-input-placeholder {
  color: transparent;
}

.winning-score .submit-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  padding-top: 5px;
  background: #eb4d4d;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  box-shadow: none;
  border: 0;
  border-radius: 0 7px 7px 0;
  cursor: pointer;
  outline: none;
}

.winning-score--current {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
}

.winning-score--current span {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}